/* @font-face {
  font-family: "Avenir";
  src: url("~@/assets/Avenir-Book.ttf") format("ttf");
} */

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro'), url(/fonts/SourceSansPro-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  margin: 0;
}

table {
  border-spacing: 10px 0px;
  margin-left: -10px;
}

.bodyContainer {
  background: #ffffff33;
  padding: 15px;
  border-top: 1px solid #c1c1c1;
}

.leftMargin10 {
  margin-left: 10px;
}

.smallTopBottomMargin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.emptyAccordionParentBody {
  margin-top: 0;
}

.overflowXContainer {
  overflow-x: auto;
  margin-top: 15px;
}

.bits {
  position: relative;
  margin: 10px;
  margin-left: 0;
  font-size: 14px;
  color: white;
  width: 80px;
  height: 40px;
  line-height: 40px;
  background: $freshBlue;
  break-after: auto;
}

.bits :deep(select) {
  color: white;
  background: $freshBlue;
}

.floatingPointInput{
  margin: 10px 0;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: $transparentWhite;
  position: relative;
}

 /* .fpOperationContainer {
  text-align: center; 
} */

.fpOperationTable{
  margin: auto;
  display: inline-flex;
  flex-flow: row wrap;
  align-items: stretch;
  text-align: center;
}

.floatingPointFormatSelection {
  text-align: center;
}

.bits selectBox {
  width: 80% !important;
  border: none;
  background-color: transparent;
}

.mobile_bits {
  height: 40px;
  line-height: 40px;
  color: white;
  background: $freshBlue;
  border-right: 1px solid white;
}

.mobile_bits :deep(select) {
  color: white;
  background: $freshBlue;
}

.mobile_bits selectBox {
  width: 60% !important;
  border: none;
  background-color: transparent;
  color: white !important;
}

ul {
  padding-bottom: 0;
  margin-bottom: 0;
}

#exerciseField {
  width: calc(100% - 30px);
  display: block;
  margin: 15px auto;
  text-align: justify;
  background: $transparentWhite;
  padding: 10px 15px;
  border-radius: 10px;
  white-space: pre-line;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

button{
  height: 36px;
  padding: 0 10px;
  border: 1px solid $freshBlue;
  background: $freshBlue;
  border-radius: 6px;
  color: white;
  border: none;
  line-height: 36px;
  position: relative;
  cursor: pointer;

  &:hover{
    background: white;
    color: $freshBlue;
  }
}

input{
  font-size: 16px !important;
  background: white;
  border-radius: 6px;
  border: 1px solid #dfe1e59e;
  color: #70757A!important;
  font-size: 14px !important;
  height: 36px;
  line-height: 28px;
  padding: 0 0 0 12px;

  &:disabled{
    background: transparent;
  }

  &::placeholder {
    color: #aaa;
  }
}

h3 {
  font-size: 24px;
  font-size: 28px;
  font-weight: 600;
  color: #273849;
  color: $fresherBlue;
  padding-bottom: 0.7em;
  width: 100%;
  margin: auto;
  margin-top: 15px;
}

.title {
  margin-top: 25px;
  margin-bottom: 10px;
}

.bodyContainer {
  box-sizing: border-box;
}

.selectBox {
  width: fit-content;
}

@media (max-width: 768px) {
  #content > div {
    padding: 0;
  }
}

@media screen and (max-width: 470px) {
  .attention {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .attention {
    width: 100%;
  }
}

@media(max-width: 1060px){
  .floatingPointInput tr, .polyadicTable tr{
    display: inline;
  }
  .floatingPointInput td, .polyadicTable td{
    display: block;
    margin: 10px 0;
  }
  /* .selectBox {
    width: 100%;
  } */
  .selectBox.mobile_bits, .selectBox.bits {
    width: auto;
  }
  .horizontalbar {
    width: 50%;
  }
}

@media(max-width: 650px){
  .fpOperationTable {
    display: block;
  }
  .floatingPointInput tr, .polyadicTable tr {
    display: inline-block;
  }
  .floatingPointInput td, .polyadicTable td {
    display: inline-block;
    vertical-align: top;
    margin: 5px 0;
  }
  /* .selectBox{
    width: 100%;
  } */
  .selectBox.mobile_bits, .selectBox.bits {
    width: auto;
  }
  .container{
    display: inline-block;
  }
  .horizontalbar {
    width: 50%;
  }
}

.hljs {
  color: #383a42;
  background: #fafafa;
}

.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #a626a4;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e45649;
}

.hljs-literal {
  color: #0184bb;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: #50a14f;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #986801;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #4078f2;
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #c18401;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
