<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <script type="text/javascript" id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
    <title>gtionline</title>
  </head>
  <body>
    <noscript>
      <strong>Leider funktioniert GTI-Online ohne JavaScript nicht. Bitte aktivieren Sie Javascript in Ihrem Browser, um fortzufahren.</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
