<template>
  <div class="accordion">
    <slot></slot>
  </div>
</template>

<script>
export default {

};
</script>

<style scoped lang="scss">
  .accordion {
    // width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
  }
</style>
